html body {
    overscroll-behavior: none;
}

body {
    top: 0;
    left: 0;
    margin: 0;
}
button{
    all: unset;
}
::-webkit-scrollbar {
    width: 10px;
    background-color: #f9f9fd;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #2C1C74;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #f9f9fd;
}

header {
    background-color: #ffffff;
    width: 100%;
    height: 3rem;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5%;
    top: 0;
    padding-right: 0;
    padding-left: 0;
    z-index: 5;
    position: sticky;
}



.logo {
    margin-left: 5rem;
    justify-self: start;
    font-family: Glegoo, sans-serif;
    stroke: #7700FF;
}

.firsLOGO {
    color: #875252;
}

.SecondLOGO {
    margin: 0.3rem;
    color: #2C1C74;
    stroke: #7700FF;
}

.search-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: #a195c2;
    border-radius: 5vw;
    padding: 5px 5px;
    width: 300px;
}

.search-icon img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.search-container input {
    border: none;
    background: none;
    outline: none;
    font-size: 1rem;
    color: #4c3a6e;
    width: 90%;
    font-family: "Gloria Hallelujah", cursive;
}

.profile-on-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: auto;
    white-space: nowrap;
}

h2 {
    font-family: 'Glegoo', serif;
    color: #2C1C74;
    -webkit-text-stroke: 1px #7700FF;
    font-size: 1rem;
}

#names {
    font-family: 'Glegoo', serif;
    color: #2C1C74;
    -webkit-text-stroke: 1px #7700FF;
    font-size: 1rem;
    text-align: right;
    flex-grow: 1;
}

.PROFimg {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.addPOST {

    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    /* Полная высота экрана */
}

.leftbar {
    position: fixed;
    /* Теперь фиксированное положение */
    left: 0;
    /* Учитываем высоту header */
    width: 250px;
    height: calc(100vh);
    background: white;
    color: white;
    transition: transform 0.3s ease-in-out;
    z-index: 1;
    transform: translateX(0);
    border-right: 1px black solid;
}

.leftbar.hidden {
    transform: translateX(-100%);
}

.hashtagss {
    padding: 1rem;
}

.toggle-btn {
    position: fixed;
    padding: 1vw;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 1000;
    top: 0;
}

.toggle-btn img {
    height: 2rem;
    width: 2rem;

}

.adder_button {
    font-family: glegoo;
    margin-left: 1vw;
    padding: 5px 0;
    color: 7700FF;
}

.adder_button img {
    height: 20px;
    width: 20px;
}

.content {
    flex-grow: 1;
    /* Контент займет оставшееся пространство */
    padding: 20px;
}

.mainTAGS {
    display: flex;
    align-items: center;
    /* Выравнивание по центру */
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
    /* Промежутки между элементами */
}


.menu {
    list-style: none;
    padding: 0;
    width: 200px;
}

.menu-btn {
    display: flex;
    align-items: center;
    /* Выравниваем текст и иконку */
    font-family: 'Glegoo', serif;
    font-weight: bold;
    color: purple;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
    border: none;
    background: none;
    padding: 10px;
    gap: 10%;

    /* Отступ между иконкой и текстом */
}

.menu-btn img {
    width: 20px;
    height: 20px;
}

input {
    padding: 5px 0;
    color: #7700FF;
}

.submenu {
    list-style: none;
    padding-left: 20px;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    opacity: 0;
}

.submenu li {
    font-family: glegoo;
    margin-left: 1vw;
    padding: 5px 0;
    color: 7700FF;
}

@media (max-width: 768px) {
    .post_main {
        width: 90%;
    }

    .post_file_label {
        width: 90%;
    }

    header {
        padding: 1vh;
        height: 3vh;
        z-index: 1000;
    }

    .search-wrapper {
        margin-left: 15%;
        width: 60%;
        height: 2vh;
    }

    .search-container {
        height: 2vh;
    }

    .search-container input {
        height: 2vh;
    }

    .PROFimg {
        width: 5vh;
        height: 5vh;
    }



}

/* Активный класс */
.submenu.active {
    max-height: 250px;
    /* Регулируй по количеству пунктов */
    opacity: 1;
}

/* Анимация стрелки */
.menu-btn .arrow {
    transition: transform 0.3s ease;
}

.menu-btn.active .arrow {
    transform: rotate(180deg);
}

.arrow {
    margin-left: 10rem;
    position: absolute;
}


.popup-btn {
    display: block;
    all: unset;
}
.popup-btn-wrapper {
    display: inline-block;
    width: 3rem;
    height: 3rem;
}
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
    width: 19.5vw;
    height: 25vw;
    min-width: 23rem;
    background: white;
    border: 3px solid black;
    padding: 3rem;
    padding-top: 2rem;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    z-index: 10;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.popup.active {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    pointer-events: auto;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 5;
}

.overlay.active {
    opacity: 1;
    pointer-events: auto;
}

.close-btn {
    top: 0;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: transparent;

}

.close-btn img {
    width: 3rem;
    height: 3rem;
}

.top-menu {
    display: flex;
    justify-content: space-between;
}

.top-menu img {
    width: 3rem;
    height: 3rem;
}

.upload-post img {
    width: 2rem;
    height: 2rem;
}

.upload-post {

    all: unset;
    padding: 0 2rem 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    width: 6rem;
    height: 3rem;
    border-radius: 15px;

}

.upload-file-post {
    display: none;
}

.bottom-menu {
    display: flex;
    justify-content: space-between;
}

.upload-file-post-label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 5rem;
    border: 2px solid black;
    border-radius: 15px;

}

.upload-file-post-label img {
    height: 2rem;
    width: 2rem;
}

.post-title {
    border: 2px solid black;
    border-radius: 15px;
    background-color: white;
    height: 2.5rem;
    padding-left: 1rem;
}

.post-content {
    border: 2px solid black;
    border-radius: 15px;
    background-color: white;
    height: 8rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
}




.menu-wrapper {
    padding: 2rem;
    position: relative;
    display: inline-block;

}

#toggleMenuBtn {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 12px;
    background: #eee;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}

.menu {
    width: 300px;
    border: 1px solid black;
    border-right:none ;
    border-radius: 0px 0px 15px 15px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-right: 0;
    margin-top:330
    ;
    right: 0;
    position: absolute;
    background: white;
    border-top:none ;
    z-index: 10;
    right: 0px;
}
.menu{
    display: none;
}

.menu.hidden-menu {
    display: flex;
}

.menu-button:hover {
    background: #f0f0f0;
}

.switch {
    position: relative;
    width: 60px;
    height: 30px;
    /* чуть больше высота */
    background: #eee;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid black;
    display: flex;
    align-items: center;
    /* выравнивание по вертикали */
    padding: 0.3rem;
    margin-left: 5px;
    margin-right: 5px;
}

.switch-circle {
    width: 24px;
    height: 24px;
    background: violet;
    border-radius: 50%;
    transition: 0.3s;
    border: 1px solid black;
    position: relative;
}

.switch.on .switch-circle {
    transform: translateX(30px);
    background: #222;
}

.color-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.dot-yellow {
    background: yellow;
}

.dot-blue {
    background: #477;
}


body.dark {
    background: #222;
    color: white;
}

body.dark .menu,
body.dark .menu-button,
body.dark .menu-exit,
{
background: #444;
}

body.dark .menu-button:hover,
body.dark .menu-exit:hover {
    background: #c0c0c0;
}

.menu-button {
    border-radius: 1rem;
    height: 1rem;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-left: 1rem;
    padding-right: 2rem;
    font-size: 1.5rem;
}

.bottom-switch {
    border: none;
}

.menu-exit {
    border-radius: 1rem;
    height: 2rem;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-left: 1rem;
    padding-right: 2rem;
    font-size: 1.5rem;
}

.menu-exit img {
    height: 25px;
    margin-right: 10px;
}

.menu-bottom {
    display: flex;
    justify-content: space-between;
}

.theme-toggle {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.theme-toggle {
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
}

.register{
    width: 6rem;
    padding: 0.5rem;  
    display: flex;
    justify-content: center;
    margin-left: 1rem;
    color: #ffffff;
    font-family: inter;
    border-radius:25px ;
}
.registers{
    display: flex;
    

}
.register-on-head{
    background-color: #1A604B;

}
.login-on-head{
    background-color: #1A2260;
    margin-right: 1rem;
}