
.post {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    width: 50rem;
    max-width: auto; 
    border: 0.1rem solid black;
}
.post_content{
    width: 100%; /* Занимает всю ширину контейнера */
    aspect-ratio: 16 / 9; /* Соотношение сторон 16:9 */
    background: rgb(0, 0, 0); /* Для наглядности */
}
.middlepost{
    width: 80%; /* Занимает всю ширину контейнера */
        aspect-ratio: 16 / 9; /* Соотношение сторон 16:9 */
        background: lightblue; /* Для наглядности */
}

/* часть верхнего поста */
.profile_on_post{
    
}   
@media (max-width: 768px) {
    .leftbar {
        position: fixed;
        width: 220px;
        z-index: 999;
    }
    .leftbar.show {
        transform: translateX(0);
    }
    
    header{
        display: flex;
    }
    #names{
        display: none;
        justify-content: center;
    }
    .logo{
        display: none;
    }
    .post{
        width: 80%; /* Занимает всю ширину контейнера */
        aspect-ratio: 16 / 9; /* Соотношение сторон 16:9 */
        background: rgb(81, 105, 113); /* Для наглядности */
    }
}